{% extends "group_works/base.html" %}

{% load bootstrap4 %}

{% block page_header %}
	<h2>
		<a class="page-title" href="{% url 'group_works:project' project.id %}">{{project}}</a>
	</h2>
{% endblock page_header %}

{% block content %}
	<div class="content-section">
		<form method='post' action="{% url 'group_works:delete_task' task.id %}" class="form">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Delete Task</legend>
				<h2>Are you sure you want to delete the task: {{ task.title }}?</h2>
			</fieldset>
			<div class="form-group">
				{% buttons %}
					<button type="submit" class="btn btn-outline-danger">Delete</button>
					<a class="btn btn-outline-secondary" href="{% url 'group_works:task' task.id %}">Cancel</a>
				{% endbuttons %}
			</div>
		</form>
	</div>	
{% endblock content %}
