{% extends "group_works/base.html" %}

{% block content %}
	<article class="media content-section">
		<div class="media-body">
			<div class="jumbotron">
				<h1 class="display-3">Streamline your projects.</h1>
				<p class="lead">Keep your team organized and focused with our 
						simple group management system.</p>
				{% if user.is_authenticated %}
					<h4>Welcome, {{ user.username }}.</h4>
				{% else %}
					<a class="btn btn-lg btn-primary" href="{% url 'register' %}"
							role="button">Register &raquo;</a>
					<p class="content-info"><br>If you would like to explore Groups Work without
					creating an account, please sign in with the following:<br>
					username: testuser<br>
					password: test4321<br>
					Note that any changes you make will be viewable by 
					others who use this account.</p>
				{% endif %}
			</div>
		</div>
	</article>
{% endblock content %}
