{% extends "group_works/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
	<h2>
		<a class="page-title" href="{% url 'group_works:project' project.id %}">{{project}}</a>
	</h2>
	<h3 class="secondary-header">Add a new task:</h3>
{% endblock page_header %}

{% block content %}

	<form method='post' action="{% url 'group_works:new_task' project.id%}" class="form">
		{% csrf_token%}
		{% bootstrap_form form %}
		{% buttons %}
			<button name="submit" class="btn btn-primary">Add Task</button>
		{% endbuttons %}
	</form>
	
{% endblock content %}