{% extends "group_works/base.html" %}

{% block page_header %}
	<h2 class="page-title">{{project}}</h2>
	<h5 class="content-description">{{project.description}}</h5>
	<h5>
		<a class="content-info" href="{% url 'group_works:edit_project' project.id %}">Edit project</a>
	</h5>
		<h5>
		<a class="content-info" href="{% url 'group_works:delete_project' project.id %}">Delete project</a>
	</h5>
{% endblock page_header %}

{% block content %}
	
	<h4 class="content-header">Tasks:</h4>
	<h6>
		<a class="content-info" href="{%url 'group_works:new_task' project.id %}">Add a new task</a>
	</h6>
	
	<ul>
		{% for task in tasks %}
		<article class="media content-section">
			<div class="media-body">
				<p class="text-secondary">
					{{task.due_date|date:'M d, Y' }}
				</p>
				<p>
					<a class="page-content" href="{% url 'group_works:task' task.id %}">
						{{task.title}}
					</a>
				<p>
			</div>
		</article>
		{% empty %}
		<article class="media content-section">
			<div class="media-body">
				<h6 class="page-content">There are no tasks for this project yet.</h6>
			</div>
		</article>
		{% endfor %}

	</ul>

	
{% endblock content %}

