{% extends "group_works/base.html" %}


{% block content %}

	<h2 class="page-title">{{ project.title }}</h2>
	<h5 class="content-description">{{ project.description }}</h5>
	<a class="content-info" href="{%url 'group_works:project-update' project.pk %}">Edit Project</a>

	
	<h4 class="content-header">Tasks:</h4>

	<a class="content-info" href="{%url 'group_works:task-create' project.pk %}">Add Task</a>


	{% for task in tasks %}
		<article class="media content-section">
			<div class="media-body">
				<p class="text-secondary">
					{{task.due_date|date:'M d, Y' }}
				</p>
				<p>
					<a class="page-content" href="{% url 'group_works:task-detail' task.pk %}">
						{{ task.title }}
					</a>
				<p>
			</div>
		</article>
	{% empty %}
		<article class="media content-section">
			<div class="media-body">
				<h6 class="page-content">There are no tasks for this project yet.</h6>
			</div>
		</article>
	{% endfor %}
	
	{% if is_paginated %}
	
		{% if page_obj.has_previous %}
			{% if page_obj.previous_page_number != 1 %}
				<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
			{% endif %}
			<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}
		
		{% for num in page_obk.paginator.page_range %}
		
			{% if page_obj.number == num %}
				<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
				{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'-3' %}
					<a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
			{% endif %}
			
		{% endfor %}
		
		{% if page_obj.has_next %}
			<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
			{% if page_obj.next_page_number != page_obj.paginator.num_pages %}
				<a class="btn btn-outline-info mb-4" href="?page={{page_obj.paginator.num_pages }}">Last</a>
			{% endif %}
		{% endif %}	
		
	{% endif %}

	
{% endblock content %}

