{% extends "group_works/base.html" %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block page_header %}
	<h2>Register</h2>
{% endblock page_header %}

{% block content %}
	
	<form method="post" action="{% url 'register' %}" class="form">
		{% csrf_token %}
		{{ form|crispy }}
		{% buttons %}
			<button name="submit" class="btn btn-primary">Register</button>
		{% endbuttons %}
		
		<input type="hidden" name="next" value="{% url 'group_works:home' %}" />
	</form>
	<div class="border-top pt-3">
		<small class="text-muted">
			Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
		</small>
	</div>
	
{% endblock content %}